---
interface Props {
  title?: string;
  id?: string;
}

const { title = 'Dowód', id } = Astro.props;
---

<section id={id} class="math-proof">
  <header class="math-proof__heading">{title}.</header>
  <div class="math-proof__body">
    <slot />
  </div>
</section>
